<section id="privacy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Privacy Policy</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
<p>Last updated: September 05, 2022</p>

<p>Your privacy is important to Mocha Latte Software LLC and we are committed to protecting the privacy of parents and kids. Please take a moment to familiarize yourself with our privacy practices.</p>

<p>Mocha Latte Software LLC makes all attempts to protect information when you use our apps & services.</p>

<p>If you do not agree to this Privacy Policy, please do not use the service. We reserve the right to make changes to this Privacy Policy. If we make a material change to this Privacy Policy, we will notify you by posting the change in this Privacy Policy. Please check back from time to time to ensure that you are aware of these changes. Your continued use of the Service will signify your acceptance of these changes.</p>

<h3>We Collect Limited Information with Our Applications.</h3>
<p>When you download and use our mobile applications, we don’t require you to provide any information and we don’t collect any information about you or your device, except we collect:</p>
<ul>
<li>
<h3>Personal Data Collected:</h3>
<p>We may use technologies like cookies on our website (small files stored by your browser or operating system), web beacons, or unique device identifiers to anonymously identify your computer or device. Our systems may also log information like your browser, operating system, IP address and anonymous usage data so we can deliver a better experience. We do not sell, trade, or rent Users personal identification information to others.</p>
</li>
<li>
<h3>Non-personal Data:</h3>
<p>For purposes of this Privacy Policy, "non-personal data" means information that does not directly identify you. Additionally, non-personal data means "aggregate" and "de-personalized" information, which is data Mocha Latte Software LLC may collect about the use of Mocha Latte Software LLC apps and software, from which any personally identifiable data has been removed.</p>
<p>We may collect information about the duration the App is used and how the App is used, such as the screens viewed and actions taken within our mobile applications, which is used solely to enhance and improve our applications.</p>
</li>
</ul>
<h3>App Store and Data Collection:</h3>
<p>We currently do not serve any third party advertisements, except for our own games on a limited basis to parents from time to time.</p>
<p>We make preschool and early elementary focused games available via app stores such as Google Play. While using the game, the App Store may use cookies, unique device identifier codes, software and hardware information, browser information, time zone and usage information or other technology to collect and process the information about you, and we may have access to it. We have no control over an App Store’s collection or use of information and cannot change what information is made available to us by the App Store.</p>
<p>If you do not want to be subject to these technologies, do not use or access our Services.</p>

<h3>Information Disclosure & Security:</h3>
<p>In the following circumstances, we may disclose your personal information according to your wish or regulations by law:</p>
<ul>
<li><p>(1) Your prior permission.</p></li>
<li>
<p>(2) By the applicable law within or outside your country of residence, legal process, litigation requests.</p>
</li>
<li>
<p>(3) By requests from public and governmental authorities.</p>
</li>
<li>
<p>(4) To protect our legal rights and interests. We take reasonable steps to secure your information against unauthorized access or disclosure. We encrypt transmission of data on pages where you provide payment information. However, no security or encryption method can be guaranteed to protect information from hackers or human error.</p>
</ul>

<h3>We comply with the Children’s Online Privacy Protection Act</h3>
<p>Our website and mobile applications comply with the Children’s Online Privacy Protection Act (“COPPA”). We don’t knowingly collect personal information from children under the age of 13 in violation of COPPA, and if in the event that a user identifies himself or herself as a child under the age of 13 through a support request, we will not collect, store or use, and will delete in a secure manner, any personal information of such user.</p>

<h3>When You Request Support, You May Send Us Email</h3>
<p>We allow users to contact us if they have support questions about the use of our mobile applications. If you submit a support request, we may receive your email address and other information you provide related to your support request (“Support Information”). We use Support Information only for the support for the internal operations of our website and Apps as provided under Section 312.2 of the COPPA rules effective July 1, 2013.</p>

<h3>Contacting Us:</h3>
<p>If you have any questions regarding the Privacy Policy, please contact us at the following email address.</p>
<p>mochalattesoftware@gmail.com</p>
    </div>
  </div>
</section>